@using System.Web.Optimization


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link href="~/Assests/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        
        <link href="~/Assests/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
        <script src="~/Assests/Scripts/jquery-1.7.1.js" type="text/javascript"></script>
        <script src="~/Assests/Scripts/jquery-ui-1.8.20.js" type="text/javascript"></script>
        
        <link href="~/Assests/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Assests/css/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="~/Assests/css/site.css" rel="stylesheet" media="screen" />
        
        
        <!-- big dirty hack to make sure our input boxes have the correct height for IE8. -->
        <!--[if lt IE 9]>
        <style>
            .row-fluid [class*='span'] {
                min-height: 20px;
            }
        </style>
        <![endif]-->
              
    </head>
    <body>
        <div id="wrap">
            <div class="navbar navbar-inverse navbar-static-top">
                <div class="navbar-inner">
                    <div class="container">
                        @Html.ActionLink("Home", "Index", "Home", null, new {@class="brand pull-left"})
                        <p class="navbar-text pull-right">@User.Identity.Name</p>
                    </div>
                </div>
            </div>
            <div class="container">
                @RenderBody()
            </div>
            <div id="push"></div>
        </div>
        <div id="footer">
            
        </div>
        
        <!--[if lt IE 9]>
            <script type="text/javascript" src="~/Assests/Scripts/respond.js"></script>
        <![endif]-->
        <script type="text/javascript" src="~/Assests/Scripts/date.format.js"></script>
        <script type="text/javascript" src="~/Assests/Scripts/main.js"></script>
        <script type="text/javascript">AMI.urlHelper.baseURI = "@Url.Content("~/")";</script>
        
        <script type="text/javascript" src="~/Assests/Mvvm/CallMeViewModel.js"></script>
        
        <script type="text/javascript" src="~/Assests/Scripts/knockout-2.1.0.js"></script>
        <script type="text/javascript" src="~/Assests/Scripts/knockout.mapping-latest.js"></script>
        <script type="text/javascript" src="~/Assests/Scripts/knockout-bindings.js"></script>
        
        <script type="text/javascript">
            //RETURN key binding for Knockout.js
            ko.bindingHandlers.returnKey = {
                init: function (element, valueAccessor, allBindingsAccessor, viewModel) {
                    ko.utils.registerEventHandler(element, 'keydown', function (evt) {
                        if (evt.keyCode === 13) {
                            evt.preventDefault();
                            evt.target.blur();
                            valueAccessor().call(viewModel);
                        }
                    });
                }
            };
        </script>
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("pageScripts", required: false)
    </body>
</html>
